html, body {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 960px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    background-color: #ffffff;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.global-button {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 15px;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
}

.global-button:hover,
.global-button:focus {
    background-color: #ca2c37;
}

.global-button:active {
    background-color: #ba2732;
}

.all-items-button,
.brands-button {
    min-width: 253px;
}

.about-us-button {
    min-width: 220px;
}

.contact-us-button {
    width: 100%;
}

.shop-links,
.user-menu,
.main-menu,
.main-categories,
.slider,
.brands-logo-list,
.service-list,
.catalog-pagination,
.footer-menu,
.footer-categories,
.social-buttons,
.breadcrumbs,
.user-profile-menu,
.offer-categories,
.sorting-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-page-header,
.catalog-page-header {
    width: 100%;
    background-color: #f3f7f9;
    font-size: 17px;
    line-height: 17px;
    padding-bottom: 60px;
    margin-bottom: 59px;
}

.catalog-page-header {
    margin-bottom: 20px;
}

a.logo-header {
    width: 220px;
    font-size: 24px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933; 
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 55px;  
}

a.logo-header:hover,
a.logo-header:focus {
    background-color: #ca2c37;   
}

a.logo-header:active {
    background-color: #ba2732;
}

.site-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}

.search-button {
    position: absolute;
    width: 17px;
    height: 17px;
    padding: 0;
    top: 12px;
    left: 17px;
    margin-right: 15px;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.3;
}

.search-button:hover,
.search-button:focus {
    opacity: 1;
}

.search-button:active {
    opacity: 0.5;
}

.site-search input {
    width: 270px;
    height: 42px;
    padding: 0;
    padding-left: 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    color: #ffffff;
    background-color: #293449;
}

input.search-field::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

input.search-field:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

input.search-field::-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

input.search-field::placeholder {
    color: #ffffff;
    opacity: 1;
}

input.search-field:focus {
    color: #000000;
}

input.search-field:focus + button.search-button path {
    fill: #ee3643;
}

input.search-field:focus + button.search-button {
    opacity: 1;
}

.site-search input:active,
.site-search input:focus {
    border: none;
    background-color: #ffffff;
}

.shop-navigation-wrapper {
    width: 100%;
    margin-bottom: 46px;
    background-color: #293449;
}

.shop-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #293449;
}

.shop-navigation .shop-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
}

.shop-links li {
    min-width: 150px;
}

.shop-links a {
    display: block;
    position: relative;
    min-height: 42px;
    box-sizing: border-box;
    padding: 12px 20px 13px 22px;
    color: #ffffff;
    background-color: #293449;
}

.shop-links .bookmark {
    padding-left: 45px;
}

.shop-links .basket {
    padding-left: 50px;
}

.shop-links a:hover,
.shop-links a:focus {
    background-color: #212a3a;
}

.shop-links a:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

a.full-basket {
    background-color: #ee3643;
    padding-left: 50px;
}

a.submit-order {
    background-color: #63a63e;
}

a.submit-order:hover,
a.submit-order:focus {
    background-color: #5fbb2d;
}

a.submit-order:active {
    background-color: #518534;
}

.bookmark::before {
    content: "";
    width: 18px;
    height: 16px;
    left: 18px;
    position: absolute;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    opacity: 0.3;  
}

.basket::before,
.full-basket::before,
.actions .buy::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 16px;
    left: 19px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    opacity: 0.3;   
}

.bookmark:hover::before,
.basket:hover::before,
.bookmark:focus::before,
.basket:focus::before {
    opacity: 1;
}

.bookmark:active::before,
.basket:active::before {
    opacity: 0.5;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 39px;
}

.user-navigation .site-title {
    display: inline;
    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
    margin: 0;
    margin-right: 20px;
    padding: 3px 48px 0 52px;
}

.user-navigation .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-right: 20px;
}

.header-contacts .phone-number {
    position: relative;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #ffffff;
    padding: 9px 18px 9px 70px;
    margin-right: 30px;
    margin-bottom: 4px;
}

.header-contacts .phone-number::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}

.header-contacts .adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    padding-left: 10px;
    margin-right: 35px;
}

.user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
}

.user-menu .login {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
    padding: 12px 25px;
    padding-left: 48px;
}

.login .login-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 14px;
}

.login-icon path,
.login-icon polygon {
    fill: #c5c5c5;
}

.login:hover path,
.login:hover polygon,
.login:focus path,
.login:focus polygon {
    fill: #32425C;
}

.login:active path,
.login:active polygon {
    fill: #c5c5c5;
}

.user-menu .signup {
    display: inline-block;
    vertical-align: top;
    padding: 12px 24px;
}

.user-menu a,
.user-profile-menu a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-menu a:hover,
.user-menu a:focus {
    color: #ee3643;
}

.user-profile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0;
}

.user-profile-menu li {
    position: relative;
    width: 300px;
    padding: 0;
    margin: 0;
}

.user-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

a.profile {
    display: inline-block;
    position: relative;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    padding: 11px 0 13px 47px;
}

.profile .user-icon {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 14px;
    bottom: 13px
}

a.logout {
    display: inline-block;
    width: 20px;
    padding: 13px 10px 11px 10px;
    margin: 0;
    vertical-align: top;
}

a.profile:hover path,
a.profile:focus path,
a.logout:hover path,
a.logout:focus path,
a.logout:hover polygon,
a.logout:focus polygon {
    fill: #32425c;
}

a.profile:active,
a.profile:active path,
a.logout:active path,
a.logout:active polygon {
    fill: #32425c; 
}

a.my-offers,
a.my-account {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    top: 8px;
    color: #32425c;
    text-decoration: underline;
    background: none;
}

a.my-offers:hover,
a.my-offers:focus,
a.my-account:hover,
a.my-account:focus {
    color: #ee3643;
}

a.my-offers:active,
a.my-account:active {
    color: rgba(50, 66, 92, 0.3);
}

a.my-offers {
    position: relative;
    margin-left: 19px;
    margin-right: 31px;
}

a.my-offers::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    right: -19px;
    top: 7px;
    background-color: #32425c;
    border-radius: 50%;
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.main-menu a {
    display: block;
    height: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 29px 15px;
    background-color: #32425c;
    text-align: center;  
}

.main-menu li:nth-child(1) a {
    padding-right: 33px;
}

.main-menu li:nth-child(2) a {
    padding-left: 32px;
    padding-right: 30px;
}

.main-menu li:nth-child(3) a {
    padding-left: 27px;
    padding-right: 30px;
}

.main-menu li:nth-child(4) a {
    padding-left: 30px;
    padding-right: 29px;
}

.main-menu li:nth-child(5) a {
    padding-left: 30px;
    padding-right: 31px;
}

.main-menu li:nth-child(6) a {
    padding-left: 31px;
    padding-right: 32px;
}

.main-menu li:nth-child(7) a {
    padding-left: 32px;
}

.main-menu a:hover,
.main-menu a:focus {
    background-color: #293449;
}

.main-menu a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.categories-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 53px;
}

.categories-slider .main-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 940px;
    margin-bottom: 20px;
}

.categories-slider .offer-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
}

.main-categories li,
.offer-categories li {
    width: 300px;
    height: 123px;
}

.offer-categories .sale-category {
    margin-bottom: 20px;
}

.main-categories .materials-category {
    background-color: #ffbf47;
    background-image:
        url("../img/materials-icon.svg"),
        url("../img/new-flag.png");
    background-repeat: no-repeat;
    background-position:
        213px 30px,
        240px 0px;
}

.main-categories .tools-category {
    background-color: #3bbce3;
    background-image:
        url("../img/tools-icon.svg");
    background-repeat: no-repeat;
    background-position: 197px 32px;
}

.main-categories .equipment-category {
    background-color: #dc91d8;
    background-image: url("../img/equipment-icon.svg");
    background-repeat: no-repeat;
    background-position: 191px 30px;
}

.offer-categories .sale-category {
    background-color: #8ed78f;
    background-image: url("../img/sale-basket-icon.svg");
    background-repeat: no-repeat;
    background-position: 197px 27px;
}

.offer-categories .delivery-category {
    background-color: #ffc047;
    background-image: url("../img/delivery-icon.svg");
    background-repeat: no-repeat;
    background-position: 190px 31px;
}

.main-categories h3,
.offer-categories h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 20px 0 13px 22px;
}

.main-categories a,
.offer-categories a {
    display: inline-block;
    min-width: 135px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 25px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    text-transform: uppercase;
}

.main-categories a:hover,
.main-categories a:focus,
.offer-categories a:hover,
.offer-categories a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-categories a:active,
.offer-categories a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: 620px;
        flex-basis: 620px;
    overflow: hidden;
}

.slider li {
    width: 620px;
    height: 266px;
    background-color: #32425c;
    -ms-flex-negative: 0;
}

.slider .slider-title {
    display: block;
    margin-left: 23px;
    margin-top: 23px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.slider .slider-subtitle {
    display: block;
    margin-left: 23px;
    margin-top: 2px;
    font-size: 18px;
    line-height: 24px;
}

.slider .slider-screen:nth-child(1) {
    background-image: url(../img/main-slider-1.jpg)
}

.slider .slider-screen:nth-child(2) {
    background-image: url(../img/main-slider-2.jpg)
}

.slider-screen {
    display: none;
}

.slider-screen.active {
    display: block;
}

.slider-button {
    width: 195px;
    margin-left: 25px;
    margin-top: 122px;
}

.slider-wrapper {
    position: relative;
}

.slider-arrow-left,
.slider-arrow-right {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 31px;
    top: 120px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    cursor: pointer;
}

.slider-arrow-right {
    left: 566px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
}

.slider-toggles {
    position: absolute;
    width: 400px;
    height: 14px;
    bottom: 32px;
    margin-left: 220px;
    padding-left: 75px;
    font-size: 0;
}

.slider-toggles .toggle {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0;
    margin-right: 10px;
    vertical-align: top;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.toggle.active {
    background-color: #ee3643;
}

.section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #f9f5f0;
}

.section-header .global-button {
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 10px 55px;
    margin-right: 24px;
}

.section-header h2 {
    margin: 30px 0;
    margin-left: 27px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-items {
    margin-bottom: 20px;
}

.popular-items .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.items-catalog .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 700px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 42px;
}

.items-catalog .item {
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}

.popular-items .item {
    margin-right: 20px;
}

.items-catalog .item:nth-child(3n+3) {
    margin-right: 0;
}

.popular-items .item:nth-child(4n+4) {
    margin-right: 0;
}

.items-catalog .item:hover,
.popular-items .item:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.item .actions {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.actions .buy,
.actions .favorite {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Cuprum", Arial, sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}

.actions .favorite {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.item:hover .actions {
    display: block;
}

.actions .buy {
    position: relative;
}

.actions .buy::before {
    left: 12px;
}

.actions .buy:hover {
    background-color: #5fbb2d;
    border-top-color: #5fbb2d;
    border-right-color: #5fbb2d;
    border-left-color: #5fbb2d;
}

.actions .buy:active {
    background-color: #518534;
    border-color: #518534;
}

.actions .buy:hover::before {
    opacity: 1;
}

.actions .favorite:hover {
    border-color: #32425c;
}

.actions .favorite:active {
    opacity: 0.3;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-columns .sidebar {
    width: 220px;
    margin-right: 20px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}

.item {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    -ms-flex-preferred-size: 220px;
        flex-basis: 218px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    border: 1px solid #eaeaea;
}

.items .new-item::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -1px;
    right: -1px;
    background: url("../img/new-flag.png");
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 20;
}

.item img {
    width: 218px;
    height: 150px;
    margin-bottom: 25px;
}

.item h3 {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    padding: 0 30px;
    margin: 0;
    margin-bottom: 11px;
}

.item .item-name {
    text-transform: uppercase;
}

.item .old-price {
    display: block;
    min-height: 20px;
    text-decoration: line-through;
    color: #a9a9a9;
    margin-bottom: 9px;
}

.item .price {
    display: inline-block;
    position: relative;
    padding: 10px 34px 10px 35px;
    margin-bottom: 20px;
    vertical-align: top;
    background-color: #ee3643;
    border-radius: 3px;
}

.item .price::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: -26px;
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

.brands-logo-list {
    min-height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 65px;
}

.brands-logo-list li {
    margin-right: 20px;
    margin-bottom: 20px;
}

.brands-logo-list li:nth-child(4n+4) {
    margin-right: 0;
}

.brands-logo-list a {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
}

.brands-logo-list a:hover,
.brands-logo-list a:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-logo-list a:active {
    border-color: transparent;
    -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
            box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands-logo-list img {
    position: absolute;
    width: 188px;
    height: 93px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.brands-logo-list a:active img {
    opacity: 0.3;
}

.services {
    background-color: #f4f8f9;
    padding-top: 65px;
    margin-bottom: 54px;
}

.services-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.services h2,
.services h3 {
    text-transform: uppercase;
    margin: 0px;
}

.services h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    margin-bottom: 26px;
}

.services h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #32425c;
    margin: 0px;
    margin-bottom: 21px;
}

.services p,
.company-info p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.company-info .delivery-title {
    padding-right: 135px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.service-subtitle {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 530px;
    margin-bottom: 70px;
}

.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-right: 60px;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
}

.service-list::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 272px;
    right: 0;
    top: -43px;
    background-image: url(../img/service-list-bgr.png);
    background-repeat: no-repeat;  
}

.service-list a {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 240px;
    padding: 12px 22px 17px;
    vertical-align: top;
    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;  
}

.service-list a:hover,
.service-list a:focus {
    background-color: #293449;
}

a.current-service,
a.current-service:hover,
a.current-service:focus {
    color: #32425c;
    background-color: #ffffff;
    border: none;
}

.services-description {
    height: 280px;
    overflow: hidden;
    margin-bottom: 3px;
}

.services-description h3 {
    margin: 0;
    margin-bottom: 23px;
}

.delivery,
.warranty,
.credit {
    display: none;
    width: 619px;
    min-height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 21px;
}

.delivery p,
.warranty p,
.credit p {
    width: 300px;
    margin: 0px;
}

.services-description .delivery {
    background-image: url("../img/delivery-slider.png");
    background-repeat: no-repeat;
    background-position: 171px 22px;
}

.services-description .warranty {
    background-image: url("../img/warranty-slider.png");
    background-repeat: no-repeat;
    background-position: 250px 20px;
}

.services-description .credit {
    background-image: url("../img/credit-slider.png");
    background-repeat: no-repeat;
    background-position: 173px 20px;
}

.delivery,
.warranty,
.credit {
    display: none;
}

.delivery.active,
.warranty.active,
.credit.active {
    display: block;
}

.company-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 84px;
    color: #000000;
}

.company-info .description {
    width: 620px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
    padding-right: 50px;
}

.company-info h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 25px;
}

.company-info p {
    margin: 0;
    margin-top: 25px;
}

.delivery-company-list {
    list-style: none;
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
}

.delivery-company-list li {
    position: relative;
    margin-top: 20px;
    margin-bottom: 18px;
    margin-left: 37px;
}

.delivery-company-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 9px;
    left: -37px;
    background-color: #ee3643;
}

.delivery-company-list a {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.company-info .contacts {
    width: 300px;
    margin-left: auto;

}

.map-contact-text {
    margin-bottom: 35px;
    padding-right: 110px;
}

.map {
    text-align: center;
}

.map img {
    margin-top: 32px;
    margin-bottom: 36px;
}

.page-footer {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    background-color: #32425c;
}

.footer-tops {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 50px;
}

.footer-contacts {
    width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-contacts p {
    margin: 0;
    margin-left: 4px;
}

.footer-navigation {
    width: 550px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 39px;
    margin-left: 3px;
}

.footer-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 33px;
    margin-left: 27px;
}

.logo-footer {
    width: 220px;
    height: 68px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 19px;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid #b52933;
    background-color: #ee3643;
}

.footer-menu a {
     color: #f3f7f9;
}

.footer-categories a {
     color: #ffd180;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-categories a:hover,
.footer-categories a:focus {
    text-decoration: underline;
}

.footer-menu a:active {
     color: rgba(241, 245, 247, 0.5);
}

.footer-categories a:active {
     color: rgba(255, 209, 128, 0.5);
}

.footer-bottoms-wrapper {
    width: 100%;
    background-color: #293449;
}

.footer-bottoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-bottoms .copyright {
    width: 240px;
    margin: 0;
    margin-top: 32px;
    margin-right: 150px;
}

.footer-bottoms .dev-studio {
    width: 110px;
    margin-top: 30px;
    margin-left: auto;
}

.footer-bottoms .contact-us {
    width: 145px;
    margin-top: 30px;
    margin-left: 66px;
}

.footer-bottoms a {
    color: #ffd180;
}

.footer-bottoms a:hover,
.footer-bottoms a:focus {
    text-decoration: underline;
}

.footer-bottoms a:active {
    color: #ee3643;
}

.social-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 35px;
    margin-right: 50px;
}

.social-buttons .social-btn {
    display: inline-block;
    width: 41px;
    height: 41px;
    margin-right: 4px;
    vertical-align: top;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-buttons .vk-btn {
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-buttons .fb-btn {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-buttons .ig-btn {
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #212a3a;
}

.social-btn:hover.vk-btn,
.social-btn:focus.vk-btn,
.social-btn:hover.fb-btn,
.social-btn:focus.fb-btn,
.social-btn:hover.ig-btn,
.social-btn:focus.ig-btn {
    background-color: #ee3643;
}

.social-btn:active.vk-btn,
.social-btn:active.fb-btn,
.social-btn:active.ig-btn {
    background-color: #ee3643;
}

.modal {
    position: fixed;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
}

.modal-write-us .contact-fields  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 45px 80px 20px;
}

.modal-write-us .message-field {
    margin: 0 80px 37px 80px;
}

.modal-write-us .global-button {
    width: 460px;
    color: #ffffff;
    border: none;
}

.modal p {
    margin: 0;
    margin-bottom: 10px;
}

.modal input,
.modal textarea {
    border: 2px solid #dee3e4;
    border-radius: 2px;
    outline: none;
    padding: 10px;
}

.modal input:active,
.modal input:focus,
.modal textarea:active,
.modal textarea:focus {
    border-color: #ee3643;
}

.modal-map {
    width: 940px;
    height: 446px;
    top: 50%;
    left: 50%;
    margin-top: -226px;
    margin-left: -470px;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
    z-index: 30;
}

.modal-write-us,
.modal-added-to-basket {
    width: 620px;
    top: 150px;
    left: 50%;
    margin-left: -310px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 7px solid #ff5257;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-write-us input[name="contact-name"],
.modal-write-us input[name="contact-email"] {
    width: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.modal-write-us textarea[name="message-body"] {
    width: 460px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    resize: none;
}

.modal-added-to-basket {
    padding: 0;
    padding-top: 60px;
    z-index: 30;
}

.modal-added-to-basket h2 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 60px;
    padding-left: 180px
}

.modal-added-to-basket h2::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 68px;
    top: 47px;
    left: 80px;
    border-radius: 50%;
    background-color: #63a63e;
}

.modal-added-to-basket h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 36px;
    top: 54px;
    left: 103px;
    border-right: 8px solid #ffffff;
    border-bottom: 8px solid #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-write-us .action-buttons,
.modal-added-to-basket .action-buttons {
    width: 100%;
    padding: 37px 0;
    background-color: #f1f1f1;
}

.action-buttons .send-message {
    margin-left: 80px;
}

.modal-added-to-basket .submit-offer,
.modal-added-to-basket .continue-shopping {
    width: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.modal-added-to-basket .continue-shopping {
    margin-left: auto;
    color: #000000;
    background-color: #ffffff;
}

.modal-added-to-basket .submit-offer {
    margin-left: 80px;
    margin-right: 20px;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 27px;
    height: 27px;
    border: none;
    font-size: 0;
    background: none;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    top: 9px;
    left: 0;
    background-color: #ff5257;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-write-us,
.modal-map,
.modal-added-to-basket {
    display: none;
}

.modal-write-us.active,
.modal-map.active,
.modal-added-to-basket.active {
    display: block;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 19px;
}

.breadcrumbs-link {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    vertical-align: top;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.breadcrumbs-link::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 1px solid #c1c6ce;
    border-bottom: 1px solid #c1c6ce;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 12px;
    top: 4px;
}

.catalog-header {
    margin-bottom: 20px;
}

.catalog-header h1 {
    margin: 0;
    padding: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.sorting-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f7f3ec;
    border-radius: 3px;
    margin-bottom: 20px;
}

.sorting-items h3 {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    font-size: inherit;
    font-weight: 400;
}

.sorting-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
    margin-left: auto;
    width: 460px;
}

.sorting-menu .sorting-price,
.sorting-menu .sorting-type,
.sorting-menu .sorting-functions {
    display: inline-block;
    height: 15px;
    margin-top: 10px;
    vertical-align: top;
    color: rgba(0, 0,  0, 0.3);
    text-decoration: none;
    border-bottom: 1px dotted #ee3643;
}

.sorting-menu .sorting-price {
    margin-right: 72px;
}

.sorting-menu .sorting-type {
    margin-right: 66px;
}

.sorting-menu .sorting-functions {
    margin-right: 46px;
}

.sorting-menu .up-arrow {
    margin-right: 21px;
}

.sorting-menu .sorting-price:hover,
.sorting-menu .sorting-type:hover,
.sorting-menu .sorting-functions:hover,
.sorting-menu .sorting-price:focus,
.sorting-menu .sorting-type:focus,
.sorting-menu .sorting-functions:focus {
    color: rgba(0, 0,  0, 1);
    text-decoration: none;
    border-bottom: 1px solid #ee3643;
}

.sorting-menu .sorting-price:active,
.sorting-menu .sorting-type:active,
.sorting-menu .sorting-functions:active {
    color: #ee3643;
}

.sorting-menu .current-sorting {
    color: #ee3643;
    border: none;
}

.sorting-menu .up-arrow,
.sorting-menu .down-arrow {
    display: inline-block;
    width: 11px;
    height: 10px;
    margin-top: 10px;
    vertical-align: top;
}

.sorting-menu .up-arrow:hover polygon,
.sorting-menu .down-arrow:hover polygon {
    fill:#231f20;
}

.sorting-menu .down-arrow {
    -webkit-transform: rotate(180deg) translateY(-5px);
            transform: rotate(180deg) translateY(-5px);
}

.current-direction polygon {
    fill: #ee3643;
}

.catalog-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.catalog-pagination a {
    padding: 10px 15px;
    margin-right: 9px;
    color: #000000;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-transform: uppercase;
}

.catalog-pagination a:hover,
.catalog-pagination a:focus {
    border-color: #bdc6ca;
}

.catalog-pagination a:active {
    border-color: #ee3643;
}

a.current-page {
    color: #ffffff;
    border-color: #ee3643;
    background-color: #ee3643;
}

.catalog-pagination .next {
    padding: 10px 30px;
}

.item-category-description {
    margin-top: 70px;
    color: #000000;
    font-size: 13px;
    line-height: 24px;
    background-color: #f2f6f8;
}

.item-category-description h2 {
    margin: 0;
    margin-bottom: 28px;
    padding-top: 63px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.item-category-description p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding-right: 20px;
    padding-bottom: 67px;
}

.sidebar {
    width: 220px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}

.sidebar h3 {
    min-height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0 0 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    background-color: #f7f3ec;
}

.sidebar .price-range {
    width: 100%;
    height: 80px;
    position: relative;
    margin-bottom: 9px;
    padding: 39px 20px 39px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f3ec;
    border-radius: 0 0 3px 3px;
    
}

.price-range-bar {
    width: 180px;
    height: 2px;
    background-color: #d7dcde;
}

.price-range-bar::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    left: 20px;
    top: 39px;
    background-color: #00ca74;
}

.price-range .toggle-min,
.price-range .toggle-max {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.price-range .toggle-max {
    left: 160px;
}

.price-range .toggle-min::before,
.price-range .toggle-max::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: 8px;
    top: 8px;
    background-color: #ababab;
    border-radius: 50%;
}

.sidebar legend {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    border: none;
}

.price-outputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
}

.price-outputs span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.price-outputs input {
    display: inline-block;
    width: 95px;
    height: 38px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.sidebar fieldset {
    margin: 0;
    margin-bottom: 16px;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #cccccc;
}

.sidebar fieldset:last-of-type {
    border: none;
    margin-bottom: 60px;
}

.side-brands-filter {
    padding-bottom: 6px;
}

.side-brands-filter input,
.side-energy-filter input {
    display: none;
}

.side-brands-filter label,
.side-energy-filter label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 19px;
    outline: none;
}

.side-brands-filter label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 0.78;
}

.side-brands-filter input[type="checkbox"]:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    opacity: 0.78;
}

.side-energy-filter label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: -2px;
    left: 0;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    opacity: 0.78;
}

.side-energy-filter input[type="radio"]:checked + label::before {
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
    opacity: 0.78;
}

.side-brands-filter input[type="checkbox"]:checked + label:hover::before,
.side-brands-filter label:hover::before,
.side-energy-filter input[type="radio"]:checked + label:hover::before,
.side-energy-filter label:hover::before {
    opacity: 1;
}

.side-brands-filter label:focus,
.side-energy-filter label:focus {
    outline: 1px;
    outline-color: #4D90FE;
    outline-style: auto;
    outline-width: 5px;
}

.side-brands-filter input[type="checkbox"]:disabled + label,
.side-energy-filter input[type="radio"]:disabled + label {
    opacity: 0.29;
}

.filter-submit {
    width: 140px;
    padding: 10px;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    text-transform: uppercase;
}